* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    90deg,
    rgba(6, 27, 58, 1) 9%,
    rgba(126, 52, 7, 1) 41%,
    rgba(19, 14, 11, 1) 53%
  );
  font-family: "Karla", serif;
  color: white;
  background: rgba(19, 14, 11, 1);
  font-size: 1rem;
}

section {
  position: relative;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

h2 {
  letter-spacing: 2px;
  font-size: 3rem;
  max-width: 500px;
  color: #dbcac2;
  font-family: "Rubik", serif;
}

.music-comp-audiovisual-title {
  padding: 40px;
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block; /* nødvendig for transform å fungere på <a> */
  transition: transform 0.2s ease;
}

a:hover {
  color: #bf9673;
  transform: scale(1.05);
}

.button {
  position: relative; /* For å få knapp foran artwork */
  padding: 14px 28px;
  color: white;
  background-color: #583f8c;
  text-decoration: none;
  border-radius: 12px;
  font-family: "Karla", serif;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.button:hover {
  color: white;
  box-shadow: #583f8c 0px 54px 55px, #583f8c 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, #583f8c 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.button-two {
  background-color: #bf9673;
}

.button-flex {
  display: flex;
  gap: 20px;
}

/* AbstractArt  
---------------------------------------- */

.absolute {
  top: -74%;
  right: 37%;
  width: 15%;
  height: 100%;
  position: absolute;
  rotate: 60deg;
  z-index: -1;
  opacity: 0.9;
}

.absolute2 {
  position: absolute;
  top: 77%;
  left: 0;
  width: 50%;
  z-index: -1;
  opacity: 0.9;
  filter: brightness(1.4);
  mask: linear-gradient(to right, #000 90%, transparent);
}

.absolute3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 40%;
  filter: brightness(1.4);
  z-index: -2;
  opacity: 0.5;
  mask: linear-gradient(to bottom, #000 50%, transparent);
}

.absolute4 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 40%;
  opacity: 0.5;
  rotate: 180deg;
  z-index: -1;
  mask: linear-gradient(to bottom, #000 50%, transparent);
}

.absolute5 {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
  left: 15%;
  bottom: 0;
  width: 5%;
  mask: linear-gradient(to top, #000 90%, transparent);
  transform: rotate(180deg) scaleX(-1);
  z-index: -1;
  opacity: 0.5;
  filter: brightness(1.4);
}

.absolute6 {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
  left: 30%;
  bottom: 0;
  width: 5%;
  mask: linear-gradient(to top, #000 90%, transparent);
  transform: rotate(180deg) scaleX(-1);
  z-index: -1;
  opacity: 0.5;
  filter: brightness(1.4);
  rotate: -20deg;
}

.absolute7 {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  width: 35%;
  mask: linear-gradient(to top, #000 90%, transparent);
  rotate: 180deg;
  z-index: -1;
  opacity: 0.7;
  filter: brightness(1.9);
}

.absolute8 {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  bottom: 0;
  width: 45%;
  mask: linear-gradient(to top, #000 90%, transparent);
  transform: rotate(180deg) scaleX(-1);
  z-index: -1;
  opacity: 0.7;
  filter: brightness(1.9);
}

.absolute9 {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
  left: 70%;
  bottom: 0;
  width: 5%;
  mask: linear-gradient(to top, #000 90%, transparent);
  transform: rotate(180deg) scaleX(-1);
  rotate: 20deg;
  z-index: -1;
  opacity: 0.5;
  filter: brightness(1.4);
}

.absolute10 {
  position: absolute;

  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 25%;

  rotate: 180deg;
  z-index: -1;
  opacity: 0.9;
  filter: brightness(1.4);
}

.absolute11 {
  position: absolute;
  height: 100%;
  right: 0;
  left: 20%;
  bottom: 0;
  width: 5%;
  mask: linear-gradient(to top, #000 90%, transparent);
  transform: rotate(180deg) scaleX(-1);
  z-index: -1;
  opacity: 0.6;
  rotate: 10deg;
  filter: brightness(1.4);
}

.absolute12 {
  position: absolute;
  rotate: -10deg;
  height: 100%;
  right: 20%;
  bottom: 0;
  width: 5%;
  mask: linear-gradient(to top, #000 90%, transparent);
  transform: rotate(180deg) scaleX(-1);
  z-index: -1;
  opacity: 0.6;
  filter: brightness(1.4);
}

.absolute13 {
  position: absolute;

  height: 100%;
  right: 0;
  bottom: 0;
  width: 25%;

  transform: rotate(180deg) scaleX(-1);
  z-index: -1;
  opacity: 0.9;
  filter: brightness(1.4);
}

.absoluteWork1 {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
  left: 30%;
  bottom: 0;
  width: 5%;
  mask: linear-gradient(to top, #000 90%, transparent);
  transform: rotate(180deg) scaleX(-1);
  z-index: -1;
  opacity: 0.5;
  filter: brightness(1.4);
  rotate: -10deg;
}

.absoluteWork2 {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
  left: 70%;
  bottom: 0;
  width: 5%;
  transform: rotate(180deg) scaleX(-1);
  z-index: -1;
  opacity: 0.5;
  filter: brightness(1.6);
  rotate: 10deg;
}

/* HEADER  
---------------------------------------- */

.nav {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  height: 100px;
}

.navigation,
.navigation-footer {
  display: flex;
  gap: 20px;
  list-style: none;
}

/* MAIN
---------------------------------------- */

/* Hero-section  
---------------------------------------- */

.hero-section {
  height: calc(100dvh - 100px);
  border-bottom: 15px solid #bf9673;
}

.hero-flex-container {
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: center;
  align-items: stretch;
  height: 100%;
  width: 100%;
}

.hero-text {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
  padding: clamp(20px, 5vw, 100px);
  width: 100%;
  box-sizing: border-box;
}

.hero-image {
  flex: 1 1 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mask: linear-gradient(to top, #000 50%, transparent);
}

.hero-image-close {
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
  filter: brightness(1.4);
}

.buttonsAndSocials {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-socials-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-socials-icon {
  width: 32px;
  height: 32px;
  border-radius: 10px;
}

.hero-socials-icon:hover {
  box-shadow: #583f8c 0px 54px 55px, #583f8c 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, #583f8c 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* News-section  
---------------------------------------- */

.news-section {
  border-bottom: 15px solid #583f8c;
  min-height: 100vh;
}

.news-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  max-height: 100%;
  max-width: 100%;
  padding: 0px 100px;
}

.news-flexcontainer-image {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.news-flexcontainer-text {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 60px;
  box-shadow: #583f8c 0px 54px 55px, #583f8c 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, #583f8c 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.strong {
  font-weight: bolder;
  display: block;
}

/* About-section  
---------------------------------------- */

.first-about-section {
  border-bottom: 15px solid #bf9673;
  min-height: 100vh;
}

.first-about-container {
  display: flex;
  gap: 20px;
  height: 100%;
}

.first-about-image {
  flex: 1 1 50%;
  mask: linear-gradient(to right, #000 50%, transparent);
  filter: brightness(1.4);
  clip-path: polygon(60% 10%, 100% 30%, 100% 100%, 0% 60%);
}

.first-about-text {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 100px;
  gap: 20px;
}

/* Work-section  
---------------------------------------- */

.work-section {
  border-bottom: 15px solid #583f8c;
}
.work-movie {
  height: 100%;
  width: 100%;
}

/* Music-section and Composer-section
---------------------------------------- */

.music-section {
  border-bottom: 15px solid #bf9673;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

.composer-section {
  border-bottom: 15px solid #583f8c;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.music-comp-audiovisual-title {
  flex: 1 1 20%;
}

.musicAndComp-container {
  flex: 1 1 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.musicAndComp-container-composer {
  flex: 1 1 80%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.albumAndEpAndComp {
  border: 0.5px solid #583f8c;
  display: flex; /* du kan fortsatt bruke flex inni grid items */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.albumAndEpAndComp-composer {
  border: 0.5px solid #583f8c;
  display: flex; /* du kan fortsatt bruke flex inni grid items */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.albumAndEpAndComp-text {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  flex: 1 50%;
  gap: 20px;
  padding: 40px;
}

.albumAndEpAndComp-text-composer {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  flex: 1 1 50%;
  gap: 20px;
  padding: 40px;
}

.albumAndEp-text {
  justify-content: center;
  flex: 1 1 50%;
  margin-top: 0;
}

.title-and-year {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.albumAndEpAndComp-img img {
  width: 100%;
  height: 100%;
  flex: 1 1 50%;
}

.albumAndEpAndComp-img-composer {
  width: 100%;
  height: 100%;
  flex: 1 1 50%;
}

.albumAndEpAndComp-img img,
.albumAndEpAndComp-img-composer img {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
}

/* Audiovisual-section
---------------------------------------- */

.audiovisual-section {
  border-bottom: 15px solid #bf9673;
  min-height: auto;
  display: flex;
  justify-content: space-between;
}

.audio-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  height: 100%;
  width: 100%;
}

.audio-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 0.5px solid #583f8c;
  height: 100%;
  flex: 1 50%;
  width: 100%;
}

.audio-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 50%;
  gap: 20px;
  padding: 40px;
}

.audio-video {
  flex: 1 50%;
  width: 100%;
  height: 100%;
}

.audio-max {
  width: 100%;
  height: 100%;
}

/* FOOTER
---------------------------------------- */

.footer-bottom {
  height: 50dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 15px solid #583f8c;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 40px;
  width: 100%;
}

/* ANIMATION, HOVER
---------------------------------------- */

.wave-image {
  animation: wave 6s ease-in-out infinite;
  transform-origin: center center;
}

@keyframes wave {
  0% {
    transform: perspective(500px) rotateX(0deg) rotateY(0deg);
  }
  25% {
    transform: perspective(500px) rotateX(6deg) rotateY(-6deg);
  }
  50% {
    transform: perspective(500px) rotateX(0deg) rotateY(0deg);
  }
  75% {
    transform: perspective(500px) rotateX(-6deg) rotateY(6deg);
  }
  100% {
    transform: perspective(500px) rotateX(0deg) rotateY(0deg);
  }
}

.pixel-image {
  animation: pixelFade 3s ease-in-out forwards;
}

@keyframes pixelFade {
  0% {
    filter: contrast(0.5) brightness(0.5) blur(8px);
    transform: scale(1.05);
  }
  50% {
    filter: contrast(1.5) brightness(1.2) blur(2px);
  }
  100% {
    filter: none;
    transform: scale(1);
  }
}

/* RESPONSIV DESKTOP STOR
---------------------------------------- */

@media (min-width: 2222px) {
  .news-flexcontainer-image {
    padding: 100px;
    height: 100%;
  }
}

/* RESPONSIV DESKTOP MINDRE
---------------------------------------- */

@media (max-width: 1200px) {
  .first-about-section {
    height: auto;
  }

  .first-about-container {
    flex-direction: column;
    gap: 0px;
  }
}

@media (max-width: 1182px) {
  .absolute {
    top: -30%;
    right: 37%;
    width: 15%;
    height: 30%;
    position: absolute;
    rotate: 60deg;
    z-index: -1;
    opacity: 0.9;
  }

  .wave-image {
    animation: none;
    transform-origin: center center;
  }

  .news-section {
    height: auto;
  }

  .news-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    max-height: 100%;
    max-width: 100%;
    padding: 40px;
    flex-direction: column;
  }

  .news-flexcontainer-image {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .close-img {
    max-height: 600px;
    object-fit: contain;
  }

  .news-flexcontainer-text {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 60px;
    box-shadow: #583f8c 0px 54px 55px, #583f8c 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px, #583f8c 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: rgba(19, 14, 11, 1);

    width: 100%;
  }

  .first-about-section {
    height: auto;
  }

  .first-about-container {
    flex-direction: column;
    gap: 0px;
  }

  .first-about-image {
    flex: 1 1 50%;
    mask: linear-gradient(to right, #000 50%, transparent);
    filter: brightness(1.4);
    clip-path: polygon(60% 10%, 100% 30%, 100% 100%, 0% 60%);
  }

  .first-about-text {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 100px 100px 100px;
    gap: 20px;
  }

  .music-section {
    border-bottom: 15px solid #bf9673;
    height: auto;
  }

  .composer-section {
    border-bottom: 15px solid #583f8c;
    height: auto;
  }

  .musicAndComp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    height: 100%;
    flex-wrap: nowrap;
  }

  .musicAndComp-container-composer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    height: 100%;
    flex-wrap: nowrap;
  }

  .albumAndEpAndComp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1 100%;
    justify-content: space-between;
    border: 0.5px solid #583f8c;
  }

  .albumAndEpAndComp-composer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1 100%;
    justify-content: space-between;
    border: 0.5px solid #583f8c;
  }

  .albumAndEpAndComp-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
    padding: 80px;
    margin-top: 0;
    gap: 20px;
  }

  .albumAndEpAndComp-text-composer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
    padding: 80px;
    margin-top: 0;
    gap: 20px;
  }

  .albumAndEp-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
    margin-top: 0;
    padding: 80px;
  }

  .title-and-year {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .albumAndEpAndComp-img {
    flex: 1 1 50%;
    display: flex;
  }

  .albumAndEpAndComp-img-composer {
    flex: 1 1 50%;
    display: flex;
  }
  .audiovisual-section {
    height: auto;
  }

  .audio-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .audio-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 40%;
    gap: 20px;
    padding: 40px;
  }

  .audio-video {
    flex: 1 60%;
    width: 100%;
    height: 100%;
  }

  .audio-max {
    height: 50vh;
  }

  .footer-bottom {
    height: auto;
  }

  .absolute9 {
    position: absolute;
    top: 0;
    height: 80%;
    right: 0;
    left: 60%;
    bottom: 0;
    width: 5%;
  }
}

/* RESPONSIV NETTBRETT
---------------------------------------- */

/* HAMBURGER MENY */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 10;
}

.hamburger span {
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Aktiv meny (animasjon til kryss) */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* RESPONSIV MENY */
@media (max-width: 900px) {
  .nav {
    margin-bottom: 20px;
  }
  .absolute {
    top: -10%;
    right: 50%;
    width: 35%;
    height: 50%;
    position: absolute;
    rotate: 60deg;
    z-index: -1;
    opacity: 0.9;
  }
  .hero-section {
    height: auto;
  }

  .navigation {
    position: absolute;
    top: 100px;
    right: 0;
    background: rgba(19, 14, 11, 0.95);
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 30px;
    width: 70%;
    max-width: 300px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    height: calc(100dvh - 100px);
    z-index: 5;
    border: 1px solid;
    display: none;
    border: 1px solid green;
  }

  .navigation.active {
    transform: translateX(0%);
  }

  .hamburger {
    display: flex;
  }

  .absolute {
    top: -39%;
    right: 37%;
    width: 15%;
    height: 50%;
    position: absolute;
    rotate: 60deg;
    z-index: -1;
    opacity: 0.9;
  }

  .hero-flex-container {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    justify-content: center;
    align-items: stretch;
    height: 100%;
    width: 100%;
  }

  .hero-text {
    flex: 1 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    height: 70%;
    padding: 40px;
    border-top: 15px solid #583f8c;
    order: 2;
    margin-top: 20px;
  }

  .hero-image {
    flex: 1 30%;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*mask: linear-gradient(to top, #000 50%, transparent);*/

    mask-image: linear-gradient(
      to top,
      transparent 0%,
      black 20%,
      black 80%,
      transparent 100%
    );
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-size: cover;
    order: 1;
  }

  .hero-image-close {
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
    filter: brightness(1.4);
    width: 100%;
  }

  .buttonsAndSocials {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .hero-socials-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .hero-socials-icon {
    width: 32px;
    height: 32px;
    border-radius: 10px;
  }

  .hero-socials-icon:hover {
    box-shadow: #583f8c 0px 54px 55px, #583f8c 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px, #583f8c 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}

@media (max-width: 677px) {
  .absolute {
    top: -10%;
    right: 50%;
    width: 35%;
    height: 50%;
    position: absolute;
    rotate: 60deg;
    z-index: -1;
    opacity: 0.9;
  }

  .hero-flex-container {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    gap: 20px;
  }

  h2 {
    font-size: 1.9rem;
  }

  p {
    font-size: 1rem;
  }

  .hero-text {
    flex: 1 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    height: 70%;
    padding: 40px;
    border-top: 15px solid #583f8c;
    order: 2;
    margin-top: 20px;
  }

  .hero-title {
    max-width: 340px;
  }

  .hero-image {
    flex: 1 30%;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*mask: linear-gradient(to top, #000 50%, transparent);*/

    mask-image: linear-gradient(
      to top,
      transparent 0%,
      black 20%,
      black 80%,
      transparent 100%
    );
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-size: cover;
    order: 1;
  }

  .hero-image-close {
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
    filter: brightness(1.4);
    width: 100%;
  }

  .buttonsAndSocials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .hero-socials-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .hero-socials-icon {
    width: 32px;
    height: 32px;
    border-radius: 10px;
  }

  .news-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-height: 100%;
    max-width: 100%;
    padding: 40px 40px;
  }

  .news-flexcontainer-text {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 40px;
    width: 100%;
  }

  .absolute6 {
    position: absolute;
    top: 0;
    height: 30%;
    right: 0;
    left: 30%;
    bottom: 0;
    width: 5%;
    mask: linear-gradient(to top, #000 90%, transparent);
    transform: rotate(180deg) scaleX(-1);
    z-index: -1;
    opacity: 0.5;
    filter: brightness(1.4);
    rotate: -20deg;
  }

  .absolute9 {
    position: absolute;
    top: 0;
    height: 30%;
    right: 0;
    left: 50%;
    bottom: 0;
    width: 5%;
    mask: linear-gradient(to top, #000 90%, transparent);
    transform: rotate(180deg) scaleX(-1);
    rotate: 20deg;
    z-index: -1;
    opacity: 0.5;
    filter: brightness(1.4);
  }

  .first-about-section {
    border-bottom: 15px solid #bf9673;
  }

  .first-about-container {
    display: flex;
    gap: 20px;
    height: 100%;
  }

  .first-about-image {
    flex: 1 1 50%;
    mask: linear-gradient(to right, #000 50%, transparent);
    filter: brightness(1.4);
    clip-path: polygon(60% 10%, 100% 30%, 100% 100%, 0% 60%);
  }

  .first-about-text {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    background-color: #000;
    background: rgba(19, 14, 11, 1);
    gap: 20px;
    box-shadow: #583f8c 0px 54px 55px, #583f8c 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px, #583f8c 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .work-section {
    height: 100vh;
  }

  .work-movie {
    height: 100%;
    width: 100%;
  }

  .music-section {
    border-bottom: 15px solid #bf9673;
    height: auto;
  }

  .composer-section {
    border-bottom: 15px solid #583f8c;
    height: auto;
  }

  .musicAndComp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    height: 100%;
    flex-wrap: nowrap;
  }

  .musicAndComp-container-composer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    height: 100%;
    flex-wrap: nowrap;
  }

  .albumAndEpAndComp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 100%;
    justify-content: space-between;
    border-top: 10px solid #583f8c;
  }

  .albumAndEpAndComp-composer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 100%;
    justify-content: space-between;
    border-top: 10px solid #583f8c;
  }

  .albumAndEpAndComp-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 50%;
    padding: 40px;
    margin-top: 0;
    gap: 20px;
    background-color: #000;
    background: rgba(19, 14, 11, 1);
    width: 100%;
  }

  .albumAndEpAndComp-text-composer {
    align-items: flex-start;
    justify-content: center;
    background: rgba(19, 14, 11, 1);
    padding: 40px;
  }

  .albumAndEp-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 80%;
    height: 80%;
    margin-top: 0;
    padding: 40px;
    background: rgba(19, 14, 11, 1);
    width: 100%;
  }

  .title-and-year {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .albumAndEpAndComp-img {
    flex: 1 20%;
    height: 20%;
    display: flex;
    padding: 40px;
    padding-top: 0px;
    background: rgba(19, 14, 11, 1);
  }

  .albumAndEpAndComp-img-composer {
    flex: 1 20%;
    height: 20%;
    display: flex;
    padding: 40px;
    padding-top: 0px;
    background: rgba(19, 14, 11, 1);
  }

  .audiovisual-section {
    border-bottom: 15px solid #bf9673;
    height: auto;
  }

  .audio-container {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .audio-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 0.5px solid #583f8c;
    height: 100%;
    flex: 1 50%;
  }

  .audio-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 40%;
    gap: 20px;
    padding: 40px;
    border-top: 10px solid #583f8c;
  }

  .audio-video {
    flex: 1 80%;
    width: 100%;
    height: 100%;
  }

  .audio-max {
    width: 100%;
    height: 100%;
    min-height: 250px;
  }

  .navigation-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    justify-content: center;
    padding: 0;
  }

  .navigation-footer li {
    text-align: center;
  }

  .footer-bottom {
    height: auto;
  }

  .absolute10 {
    position: absolute;

    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 10%;

    rotate: 180deg;
    z-index: -1;
    opacity: 0.9;
    filter: brightness(1.4);
  }

  .absolute11 {
    position: absolute;
    height: 100%;
    right: 0;
    left: 10%;
    bottom: 0;
    width: 5%;
    mask: linear-gradient(to top, #000 90%, transparent);
    transform: rotate(180deg) scaleX(-1);
    z-index: -1;
    opacity: 0.6;
    rotate: 10deg;
    filter: brightness(1.4);
  }

  .absolute12 {
    position: absolute;
    rotate: -10deg;
    height: 100%;
    right: 10%;
    bottom: 0;
    width: 5%;
    mask: linear-gradient(to top, #000 90%, transparent);
    transform: rotate(180deg) scaleX(-1);
    z-index: -1;
    opacity: 0.6;
    filter: brightness(1.4);
  }

  .absolute13 {
    position: absolute;
    height: 100%;
    right: 0;
    bottom: 0;
    width: 10%;
    transform: rotate(180deg) scaleX(-1);
    z-index: -1;
    opacity: 0.9;
    filter: brightness(1.4);
  }
}

@media (max-width: 375px) {
  .nav {
    padding: 40px;
    justify-content: center;
    gap: 20px;
  }
  .hero-section {
    height: auto;
  }

  h1 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
  }

  .button {
    font-size: 0.7rem;
  }

  .buttonsAndSocials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .absolute9 {
    position: absolute;
    top: 0;
    height: 30%;
    right: 0;
    left: 50%;
    bottom: 0;
    width: 5%;
    mask: linear-gradient(to top, #000 90%, transparent);
    transform: rotate(180deg) scaleX(-1);
    rotate: 20deg;
    z-index: -1;
    opacity: 0.5;
    filter: brightness(1.4);
  }
}

@media (max-height: 750px) {
  .news-section {
    height: auto;
    padding: 40px 0px;
  }

  .music-section,
  .composer-section,
  .audiovisual-section {
    height: auto;
  }

  .audio-max {
    height: 50vh;
  }

  /* --- Kvadratiske thumbnails for music + audiovisual --- */

  /* Rammen som alltid er kvadratisk */
  .albumAndEpAndComp-img,
  .albumAndEpAndComp-img-composer,
  .audio-video {
    aspect-ratio: 1 / 1; /* gjør boksen kvadratisk */
    width: 100%;
    max-height: 100%; /* ikke bli høyere enn kortets del */
    min-height: 0;
    display: block;
  }

  /* Selve media fyller rammen uten deformasjon */
  .albumAndEpAndComp-img img,
  .audio-video .audio-max {
    display: block; /* fjerner baseline-gap som kan gi ekstra høyde */
    width: 100%;
    height: 100%;
    object-fit: cover; /* lik visuell størrelse, crops pent */
  }

  /* Hvis en margin skyver ting: null den */
  .albumAndEpAndComp-text {
    margin-top: 0 !important;
  }
}

@media (max-height: 750px) {
  .first-about-section {
    height: auto;
  }
}

@media (max-height: 450px) {
  .hero-section,
  .first-about-section,
  .footer-bottom {
    height: auto;
  }
}
